In [9]:
#Que1--> Write a python script to create a databse of students named Students.
import sqlite3
try:
    con=sqlite3.connect("student1.db")
    cursor=con.cursor()
    query = "create table student(name varchar(20),rollno int,marks int)"
    cursor.execute(query)
    query1 = "insert into student(name,rollno,marks) values('arpita',1,100)"
    cursor.execute(query1)
    query2 = "insert into student(name,rollno,marks) values('asmita',2,90)"
    cursor.execute(query2)
    query3 = "insert into student(name,rollno,marks) values('bandita',3,80)"
    cursor.execute(query3)
    data=cursor.fetchall()
    for row in data:
        print('name: {}, rollno: {}, marks: {}'.format(row[0], row[1], row[2]))
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

In [18]:
#Que2:->Take students name and marks(between 0-100)
#as input from user 10 times using loops.
lisst = []
for i in range(1,3):
    lisst.append((input("NAME : "), int(input("rollno : ")), int(input("MARKS : "))))
print(lisst)
print()

NAME : dfghjk
rollno : 1
MARKS : 456
NAME : ghjkl
rollno : 2
MARKS : 6789
[('dfghjk', 1, 456), ('ghjkl', 2, 6789)]

In [19]:
#Question3:->Add these values in two columns named "Name" and "Marks" with the appropriate data type.

try:
    con=sqlite3.connect('student.db')
    cursor=con.cursor()
    query="insert into student(name,rollno,marks) values(?,?,?)"
    cursor.executemany(query,lisst)
    con.commit()
    print("query commited")
    query1="select * from student"
    cursor.execute(query1)
    data=cursor.fetchall()
    for row in data:
        print("NAME : {} , rollno : {}, MARKS : {}" .format(row[0],row[1],row[2]))
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print("ERROR occured : ",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
        print("Done!!")
print()

query commited
NAME : asd , rollno : 2, MARKS : 3
NAME : chjk , rollno : 3, MARKS : 56
NAME : asd , rollno : 2, MARKS : 3
NAME : chjk , rollno : 3, MARKS : 56
NAME : dfghjk , rollno : 1, MARKS : 456
NAME : ghjkl , rollno : 2, MARKS : 6789
Done!!

In [20]:
#Que.4:-> Print the names of all the students who scored more than 80 marks.
try:
    con=sqlite3.connect('student.db')
    cursor=con.cursor()
    query="insert into student(name,rollno,marks) values(?,?,?)"
    cursor.executemany(query,lisst)
    con.commit()
    print("query commited")
    query1="select * from student where marks>80"
    cursor.execute(query1)
    data=cursor.fetchall()
    for row in data:
        print("NAME : {} , rollno : {}, MARKS : {}" .format(row[0],row[1],row[2]))
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print("ERROR occured : ",e)
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
        print("Done!!")
print()

query commited
NAME : dfghjk , rollno : 1, MARKS : 456
NAME : ghjkl , rollno : 2, MARKS : 6789
NAME : dfghjk , rollno : 1, MARKS : 456
NAME : ghjkl , rollno : 2, MARKS : 6789
Done!!